.container{
    width: 100%;
    padding-left: 20px;
    margin-top: 30px;

   justify-content: space-between;
.column{
    justify-content: center;
}
   }
   
.card-img-top{
    width: 200px;
    height: 200px;
    padding-left: 150px;
    margin-top: 10px;
}
.card-price {
    font-weight: 600;
    font-size: 1.5rem;
}

.quantity-field {
    display: flex;
    margin-bottom: 1rem;
}

.cField {
    width: 10%;
    text-align: center;
}
